$WHITE: #ffffff;
$BG_GREY: #f3f4f8;
$PALE_GREY: #d2d4d9;
$LIGHT_GREY_BLUE: #aeb6b2;
$EASE_GREY: #b3b5bc;
$ASPHALT_GREY: #adbed6;
$NEUTRAL_GREY: #9496a0;
$DARK_GREY: #303440;
$BLACK: #282a39;
$BLUE_SECONDARY_1: #e6f0ff;
$DEEP_BLUE: #1d4988;
$BLUE_BIKE: #1d4988;
$ORANGE: #fc6030;
$BUTTON_PRIMARY_BG: $ORANGE;
$BUTTON_SECONDARY_BG: $BLUE_SECONDARY_1;
$BUTTON_ACTION_BG: $DEEP_BLUE;
$BUTTON_PRIMARY_TEXT: $WHITE;
$BUTTON_SECONDARY_TEXT: $BLUE_BIKE;
$DISABLED_COLOR: $ASPHALT_GREY;
$MENU_ICON_COLOR: $EASE_GREY;
$POPUP_TEXT: $DARK_GREY;
$TOP_MENU_IC_COLOR: $BLACK;